In [3]:
x = int(input("Enter a number:"))
if x%2==0:
    print("Even number")
else:
    print("Odd number")

Enter a number:7
Odd number

In [4]:
x = int(input("Enter even number:"))
y = int(input("Enter odd number:"))

if (x+y)%2==0:
    print("Evens win")
else:
    print("Odds win")

Enter even number:7
Enter odd number:8
Odds win

In [5]:
import pandas

In [6]:

RD_Spend = [1,2,3,4,5,6,7,8,9,10]
Administration = [10,20,30,40,50,60,70,80,90,100]
Marketing_Spend = [100,200,300,400,500,600,700,800,900,1000]
State = ["New York", "California", "Minnesota", "Georgia", "Washington", "North Dakota", 
         "South Dakota", "Oklahoma", "Illinois", "Rhode Island"]
Profit = [101,202,303,404,505,606,707,808,909,110]

In [7]:
tabl = {"R&D_Spend: ":RD_Spend, "Administration: ":Administration, 
        "Marketing_Spend: ":Marketing_Spend, "State: ":State,
        "Profit: ":Profit}

In [11]:
tabl

   R&D_Spend:   Administration:   Marketing_Spend:        State:   Profit:
0            1                10                100      New York       101
1            2                20                200    California       202
2            3                30                300     Minnesota       303
3            4                40                400       Georgia       404
4            5                50                500    Washington       505
5            6                60                600  North Dakota       606
6            7                70                700  South Dakota       707
7            8                80                800      Oklahoma       808
8            9                90                900      Illinois       909
9           10               100               1000  Rhode Island       110

In [10]:
tabl = pandas. DataFrame(tabl)

In [20]:
tabl.to_excel('tabl.xlsx')

In [23]:
distance = 50
time = 2

speed = distance/time
print(speed, "miles per hour")

25.0 miles per hour

In [26]:
a = float(input("Input a:"))
b = float(input("Input b:"))
c = float(input("Input c:"))

x_1 = -b + ((b**2)-(4*a*c))**(1/2)
x_2 = -b - ((b**2)-(4*a*c))**(1/2)

x1 = x_1/(2*a)
x2 = x_2/(2*a)

print(x1)
print(x2)

Input a:1
Input b:-5
Input c:2
4.561552812808831
0.4384471871911697